{% extends 'layout.html' %}

{% block welcome %}
<h2> My suggestion to you: </h2>
{% endblock welcome  %}

{% block content %}
<div class="div">
                {% for movie in recommenders %}
                    <div class="body bg-light py-1 rounded-3 my-1 ">
                        <ul class="d-md-flex justify-content-between text-black text-center">
                            <li>{{ movie }}</li>
                        </ul>
                    </div>
                {% endfor %}
</div>
{% endblock %}